@model Student


<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Add Student</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Student</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               <select name="CourseName">
                    @foreach(var course in ViewData["course"] as List<Course>)
                    {
                        <option value="course.Name">@course.Name</option>
                    }
                </select>
               <input type="hidden" name="CourseID"/>
            </div>

            <div class="form-group">
                <select name="ClassName">
                    @foreach (var class in ViewData["class"] as List<Class>)
                    {
                        <option value="class.Name">@class.Name</option>
                    }
                </select>
                <input type="hidden" name="ClassID">
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
   

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}